<section class="contacts-sec" id="contacts">
    <div class="container">
        <h2>{{ contacts.title }}</h2>
        <div class="contacts-holder">
            <div class="contact">
                <h3>Адреса</h3>
                <p>{{ contacts.address }}</p>
            </div>
            <div class="contact">
                <h3>Телефон</h3>
                <p><a href="tel:{{ contacts.phone }}">{{ contacts.phone }}</a></p>
            </div>
            <div class="contact">
                <h3>Email</h3>
                <p><a href="mailto:{{ contacts.email }}">{{ contacts.email }}</a></p>
            </div>
        </div>
        <button class="btn btn-primary open-popup">{{ contacts.contacts_button_text }}</button>
    </div>
</section>